body {
    background-color: #fff;
}

#persegi {
    display: none;
}

#persegipanjang {
    display: none;
}

.header-box {
    height: 120px;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 4px 12px #2b2b2b;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: monospace;
    font-size: larger;
}

#title1 {
    color: #fff;
}

#title2 {
    color: #fff;
}

#calculatorimg {
    height: 35px;
    width: 35px;
}

.navbar {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-size: larger;
}

.welcomehead {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#starimg {
    height: 30px;
    width: 30px;
    justify-self: center;
}

#welcometitle {
    color: #000;
    margin: 0;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#welcometext {
    color: #000;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.navbutton {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#buttonp {
    background-color: #fff;
    color: #000;
    height: 45px;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px #3d3d3d;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: large;
}

#buttonpp {
    background-color: #fff;
    color: #000;
    height: 45px;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px #3d3d3d;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

#buttonp:hover {
    background-color: #fca311;
    box-shadow: 0 4px 8px #3d3d3d;
}

#buttonpp:hover {
    background-color: #fca311;
    box-shadow: 0 4px 8px #3d3d3d;
}

/* Styling Keliling Persegi */

.box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 600px;*/
    box-shadow: 0 4px 12px #3d3d3d;
    border-radius: 10px;
    border: 2px solid #000;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.title {
    display: flex;
    flex-direction: column;
    background-color: #000;
    box-shadow: 0 4px 8px #3d3d3d;
    width: 100%;
    height: 100px;
    font-size: larger;
    font-family: monospace;
    margin-bottom: 30px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#title {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.imgp {
    height: 100px;
    width: 100px;
    box-shadow: 0 4px 8px #000;
}

.imgpp {
    height: 100px;
    width: 150px;
    box-shadow: 0 2px 4px #000;
}

#text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#formula {
    display: flex;
    padding: 15px;
    width: 100px;
    box-shadow:0 4px 8px #3d3d3d;
    background-color: #fca311;
    color: #000;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

#hitungtitle {
    color: #000;
    background-color: #fca311;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
}

.inputbox {
    width: 95%;
    height: 35px;
    border: 1px solid #000;
    box-shadow: 0 2px 6px #3d3d3d;
    margin: 20px;
}

#resultkp {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    height: auto;
    width: 170px;
    padding: 5px;
    /*box-shadow: 0 4px 10px #000;*/
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

#resultlp {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    height: auto;
    width: 170px;
    padding: 5px;
    /*box-shadow: 0 4px 10px #000;*/
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

#resultkpp {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    height: auto;
    width: 170px;
    padding: 5px;
    /*box-shadow: 0 4px 10px #000;*/
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

#resultlpp {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    height: auto;
    width: 170px;
    padding: 5px;
    /*box-shadow: 0 4px 10px #000;*/
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

.hitungbutton {
    width: 80px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 4px #3d3d3d;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
}

.resetbutton {
    width: 80px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 4px #3d3d3d;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: flex-end;
    margin-top: 18px;
    margin-right: 14px;
    margin-bottom: 20px;
}
