/* CSS Eksternal */

body {
    background-color: #D8E1E7;
}

.header1 {
    display: flex;
    flex-direction: row;
    background-color: #002952;
    align-items: center;
    justify-content: center;
    margin: 0%;
    font-family: cursive;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main {
    text-align: center;
    font-family: monospace;
}

.button {
    display: flex;
    flex-direction: column;
}

.button2 {
    background-color: #002952;
}

#text {
    color: #E2B327;
}

.katik {
    text-align: center;
    ;
    padding: 10px;
    color: #E2B327;
    margin: 0px;
}

.katik2 {
    color: #fff;
    
}

.welcome {
    text-align: center;
}