/* Style untuk keseluruhan laman html */
body {
    background-color: #fff;
}

/* Display default section persegi dan persegi panjang */
#persegi {
    display: none;
}

#persegi-panjang {
    display: none;
}

/* Header utama */
.header-box {
    height: 120px;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 4px 12px #2b2b2b;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: monospace;
    font-size: larger;
}

/* Elemen dalam header utama */
#title1 {
    color: #fff;
}

#title2 {
    color: #fff;
}

#calculatorimg {
    height: 35px;
    width: 35px;
}

/* Section untuk welcome message */
.welcome-section {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-size: larger;
}

/* section welcome header */
.welcome-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* hiasan welcome header */
#sparkling-image {
    height: 30px;
    width: 30px;
    justify-self: center;
}

/* welcome title */
#welcome-title {
    color: #000;
    margin: 0;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

/* welcome message */
#welcome-text {
    color: #000;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif
}

/* nav button untuk section persegi dan persegi panjang */
.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* style button persegi */
#button-persegi {
    background-color: #fff;
    color: #000;
    height: 45px;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px #3d3d3d;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: large;
}

/* hover button persegi*/
#button-persegi:hover {
    background-color: #fca311;
    box-shadow: 0 4px 8px #3d3d3d;
}

/* style button persegi panjang */
#button-persegi-panjang {
    background-color: #fff;
    color: #000;
    height: 45px;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px #3d3d3d;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

/* hover button persegi panjang */
#button-persegi-panjang:hover {
    background-color: #fca311;
    box-shadow: 0 4px 8px #3d3d3d;
}

/* style untuk seluruh elemen dalam section box */
/* Style untuk section box */
.box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px #3d3d3d;
    border-radius: 10px;
    border: 2px solid #000;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

/* box title */
.title {
    display: flex;
    flex-direction: column;
    background-color: #000;
    box-shadow: 0 4px 10px #3d3d3d;
    width: 100%;
    height: 100px;
    font-size: larger;
    font-family: monospace;
    margin-bottom: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

/* text title */
#title {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

/* gambar persegi */
.image-persegi {
    height: 100px;
    width: 100px;
    box-shadow: 0 4px 8px #000;
    margin: 15px;
}

/* image persegi panjang */
.image-persegi-panjang {
    height: 100px;
    width: 150px;
    box-shadow: 0 2px 4px #000;
    margin: 15px;
}

/* text keterangan rumus */ 
#text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/* kotak rumus */
#formula {
    display: flex;
    padding: 15px;
    width: 100px;
    box-shadow:0 4px 8px #3d3d3d;
    background-color: #fca311;
    color: #000;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

/* style input box */
form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
}

/* style input box */
.input-box {
    height: 35px;
    margin-top: 5px;
    border: 1px solid #000;
    box-shadow: 0 2px 6px #3d3d3d;
    border-radius: 20px;
    text-align: center;
}

/* style result untuk section keliling persegi */
#result-keliling-persegi {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    height: auto;
    width: 25%;
    padding: 5px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

/* style result untuk section luas persegi */
#result-luas-persegi {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    height: auto;
    width: 25%;
    padding: 5px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

/* style result untuk section keliling persegi panjang */
#result-keliling-pp {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    height: auto;
    width: 25%;
    padding: 5px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

/* style result untuk section luas persegi panjang */
#result-luas-pp {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    height: auto;
    width: 25%;
    padding: 5px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
}

/* style button hitung */
.hitung-button {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px #585858;
    background-color: #fca311;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
}

/* style button reset */
.reset-button {
    width: 80px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 4px #3d3d3d;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: flex-end;
    margin-top: 18px;
    margin-right: 25px;
    margin-bottom: 20px;
}

/* style footer */
footer {
    display: flex;
    justify-content: center;
    padding: 10px;

    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    margin-top: 25px;
    background-color: black;
    color: #fff;
}

/* Penyesuaian tampilan responsif di media lain*/
@media (max-width: 450px) {
    #title1 {
        font-size: 23px;
    }

    #title2 {
        font-size: 17px;
    }

    #calculatorimg {
        height: 25px;
        width: 25px;
    }

    #welcometitle {
        font-size: 23px;
    }

    footer {
        font-size: x-small;
    }
}